<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="student" class="com.klu.model.Student">

<!-- Constructor Injection -->
<constructor-arg value="101"/>
<constructor-arg value="Yaswanth"/>

<!-- Setter Injection -->
<property name="course" value="Full Stack Development"/>
<property name="year" value="3rd Year"/>

</bean>

</beans>