.container {
  width: 600px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}

h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  padding: 10px;
}

.delete {
  background: red;
  color: white;
  border: none;
}

.empty {
  color: red;
  margin-top: 20px;
}